name: "Intelbras Solar"
description: Integração com o painel da Intelbras Solar
version: 1.2.0
slug: intelbras-solar
url: https://github.com/mastria/hassio-addons/tree/main/intelbras-solar
arch:
  - aarch64
  - amd64
ports:
  8000/tcp: 8000
options:
  usuario: ""
  senha: ""
  log_level: warning
  telegram_bot_token: ""
  telegram_chat_ids: ""
  schedule_interval: 1
schema:
  usuario: str?
  senha: password?
  log_level: list(emergency|alert|critical|error|warning|notice|info|debug)
  telegram_bot_token: str?
  telegram_chat_ids: str?
  schedule_interval: list(1|2|3|4|5|6|12|24)
startup: application
init: false
homeassistant_api: true
